.first-container {
border: 1px solid black;
padding: 10px;
}

.first-container #work {
background-color: blue;
color: azure;
}

.first-container #loan {
    background-color: red;
    color: azure;
    }

.second-container #computer {
    border: 1px solid black;
    width: 100%;
    margin: 10px 0px;

}

.second-container #buy {
    background-color: green;
    color: azure;
    }